<html>
    <head>
        <link rel = "stylesheet" href = "/css/dashboard.css"/>
        {{!-- <style>
            body {
                margin: 0px;
            }

            a {
                text-decoration: none;
            }

            h1, h2, h3, h4, h5, h6 {
                margin: 0;
            }

            .navigation {
                top: 0px;
                left: 0px;
                min-height: 20px;
                height: 40px;
                position: relative;
                display: inline-flex;
                justify-content: space-between;
                box-sizing: border-box;
                background-color: #1f975f;
                width: 100%;
                align-items: center;
            }

            .navigation li{
                display: inline-flex;
                text-align: center;
                margin: 0 auto;
                vertical-align: top;
                align-items: center;
                background-color: #a7dad2;
                border-radius: 10px;
                height: 30px;
                border: none;
            }

            .kanban-label {
                display: block;
                float: inherit;
            }

            .nav-right {
                padding-right: 20px;
            }

            .nav-left {
                padding-left: 20px;
            }



            .board-list-panel {
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px; 
            }

            .board-panel h3 {
                padding-bottom: 20px;
            }

            .board-ctnr {
                display: inline-flex;
                padding: 0px 20px;
                width: 100%;
                flex-flow: wrap;
            }

            .board {
                background-color: beige;
                border-radius: 20px;
                max-width: 18%;
                min-width: 160px;
                min-height: 75px;
                padding: 20px;
                margin: 10px;
                border: none;
            }

            .favorite-toggle {
                display: none;
            }



            .lane {
                background-color: rgb(201, 201, 201);
            }
        </style> --}}
    </head>
    <body>
        <div class="navigation">
            <!-- This is the only component that is required -->
            <!--<button class="menu-toggle" onclick="DropdownToggle()">
                <span class="glyphicon glyphicon-menu-hamburger glyphicon-image"></span>
            </button>-->
            <ul class="nav-left">
                <li class="menu-toggle">User</li>
                <li class="active"><a href="#">Home</a></li>
                <li class="menu-toggle">Boards</li>
            </ul>
            <a href="#" class="kanban-label"><h1>Kanban</h1></a>
            <ul class="nav-right">
                <li class="menu-toggle">Add</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
        <div class="board-list-panel">
            <div>
                <h3>{{username}}'s Boards</h3>
            </div>
            
            <div class="board-ctnr">
                {{#each board}}
                <a href="#" data-id={{_id}} class="board">
                        <div class="board-name">{{boardname}}</div>
                        <div class="favorite-toggle"></div>
                </a>
                {{/board}}
                <div class="add-board board">
                    <div class="board-name">Add new board</div>
                </div>
            </div>
        </div>
    </body>
</html>