<html>

  <head>

  </head>

  <body>
    {{error}}

    <form action="user/login" method="POST">
      Login: <br>
      Username : <input name="username" type="text"> <br>
      Password : <input name="password" type="password"> <br>
      <input type="submit">
    </form>
  </body>

</html>
