<html>

  <head>
    <link rel="stylesheet" type="text/css" href="public\css\login.css">
  </head>

  <body>

    <div class="container">
      <h1>Login to your Account</h1>
      <form action="user/login" method="POST">
        Login: <br>
        Username <br>
        <input class="field" name="username" type="text"> <br>
        Password <br>
        <input class="field" name="password" type="password"> <br>
        <input class="button" value="log in" type="submit">
      </form>
    </div>
  </body>

</html>
