<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>

  <body>
    
    <div class="container">
      <h1>Login to your Account</h1>
      <form class="form" action="login" method="POST">
        
        Username <br>
        <input class="field" name="username" type="text"> <br>
        Password <br>
        <input class="field" name="password" type="password"> <br> <br>
        {{error}}
        <input class="button" type="submit" value="Log in">

        <br>
        No account yet? <a href="../user/register">Sign up here</a>
      </form>
      {{!-- <form action="user/register" method="GET">
        No account yet? <a href="/user/register">Sign up here</a>
      </form> --}}
        
    </div>
  </body>

</html>
