<html>

  <head>
    <link href="public\css\login.css" rel="stylesheets" type="text/css">
  </head>

  <body>
    {{error}}
    <h1>Make an account</h1>
    <form action="user/register" method="POST">
      Register: <br>
      Username : <br><input class="field" name="username" type="text"> <br>
      Password : <br><input class="field" name="password" type="password"> <br>
      <input class="button" type="submit">
    </form>
    
  </body>

</html>
