<html>

  <head>
    <link rel="stylesheet" href="/css/login.css">
  </head>

  <body>
    {{error}}
    <div class="container">
    <h1>Make an account</h1>
    <form class="form" action="register" method="POST">
      Username<br> <br><input class="field" name="username" type="text"> <br>
      Password<br> <br><input class="field" name="password" type="password"> <br>
      <input class="button" value="Sign up" type="submit">

      <br>
        Already have an account? <a href="../user/login">Log in here</a>
    </form>
    </div>
  </body>

</html>
