<html>

  <head>
    <link rel="stylesheet" href="/css/login.css">
  </head>

  <body>
    {{error}}
    <div class="container">
    <h1>Make an account</h1>
    <form action="user/register" method="POST">
      Register: <br>
      Username : <br><input class="field" name="username" type="text"> <br>
      Password : <br><input class="field" name="password" type="password"> <br>
      <input class="button" type="submit">
    </form>
    </div>
  </body>

</html>
