body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.navigation {
    top: 0px;
    left: 0px;
    min-height: 20px;
    height: 40px;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1f975f;
    width: 100%;
    align-items: center;
}

.navigation h1 {
    color: white;
}

.navigation li{
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    padding: 0px 4px;
    vertical-align: top;
    align-items: center;
    background-color: #a7dad2;
    border-radius: 10px;
    height: 30px;
    border: none;
    color: black;
}

.navigation li a{
    color: black;
    text-decoration-color: black;
}

.kanban-label {
    display: block;
    float: inherit;
}

.nav-right {
    padding-right: 20px;
}

.nav-left {
    padding-left: 20px;
}

.board-list-panel {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px; 
    height: calc(100% - 40px);
}

.board-list-panel h3 {
    padding-top: 10px;
}

.board-panel h3 {
    padding-bottom: 20px;
}

.board-ctnr {
    display: inline-flex;
    padding: 0px 20px;
    width: 100%;
    flex-flow: wrap;
}

.board {
    background-color: beige;
    border-radius: 20px;
    max-width: 18%;
    min-width: 160px;
    min-height: 75px;
    padding: 20px;
    margin: 10px;
    border: none;
}

.favorite-toggle {
    display: none;
}

.board-view-panel {
    padding-top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    overflow-y: hidden;
}

.board-view-name {
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.lane-container {
    width: 100%;
    user-select: none;
    white-space: nowrap;
}

.lane{
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    min-width: 280px;
    max-width: 280px;
    background-color: rgb(218, 218, 218);
    height: calc(100% - 40px);
    max-height: calc(100% - 80px);
    display: inline-flex;
    flex-direction: column;
    white-space: normal;
    border-radius: 10px;
    overflow: hidden;
}

.add-lane{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 280px;
    max-width: 280px;
    padding: 16px;
    background-color: rgb(218, 218, 218);
    max-height: 100px;
    display: inline-flex;
}

.add-lane:hover {
    background-color: rgb(175, 175, 175);
}

.lane-header {
    padding: 10px;
}

.add-card {
    padding: 10px 12px;
}

.add-card:hover {
    background-color: rgb(175, 175, 175);
}

.add-card-clicked {
    display: none;
}

.card-container {
    padding: 10px 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
    overflow: hidden;
}

.card:hover {
    background-color: rgb(240, 240, 240);
}

.card img {
    width: 100%;
}
  
.card p {
    margin: 10px;
}
