body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: 0;
}

.navigation {
    top: 0px;
    left: 0px;
    min-height: 20px;
    height: 40px;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #219b62;
    width: 100%;
    align-items: center;
}

.navigation h1 {
    color: white;
}

.navigation li{
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    padding: 0px 4px;
    vertical-align: top;
    align-items: center;
    background-color: #a7dad2;
    border-radius: 10px;
    height: 30px;
    border: none;
    color: black;
}

.navigation li a{
    color: black;
    text-decoration-color: black;
}

.kanban-label {
    display: block;
    float: inherit;
}

.nav-right {
    padding-right: 20px;
}

.logoutbutton {
    display: inline-flex;
    /* text-align: center; */
    margin: 0 auto;
    padding: 0px 4px;
    vertical-align: top;
    align-items: center;
    background-color: #a7dad2;
    border-radius: 10px;
    height: 30px;
    border: none;
    /* color: black; */
    font-size: 10px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-left {
    padding-left: 20px;
}

.board-list-panel {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px; 
    height: calc(100% - 40px);
}

.board-list-panel h3 {
    padding-top: 10px;
}

.board-panel h3 {
    padding-bottom: 20px;
}

.board-ctnr {
    display: inline-flex;
    padding: 0px 20px;
    width: 100%;
    flex-flow: wrap;
}

.board {
    background-color: white;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    max-width: 18%;
    min-width: 160px;
    min-height: 75px;
    padding: 20px;
    margin: 10px;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board:hover {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.button:hover {
    background-color: #1b8b53;
    box-shadow: 0 1px 6px 0 rgba(37, 54, 44, 0.28);
}

.favorite-toggle {
    display: none;
}

.add-board {
    background-color: #1f975f;
}
.add-board:hover {
    background-color: #1b8b53;
    box-shadow: 0 1px 6px 0 rgba(37, 54, 44, 0.28);
}

.add-board-form-container {
    display: none;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.281);
    padding-top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    justify-content: center;
}

.add-board-form {
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    width: 200px;
    height: 100px;;
}

.add-board-textfield {
    width: 100px;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(163, 172, 180);
    
    box-sizing: border-box;
    height: 30px;
    padding: .5em;
}

.add-board-textfield:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.add-board-submit {
    text-align: center;
    margin-top:10px;
    justify-content: center;
    border-radius: 4px;
    background-color: #1f975f;
    color: white;
    max-width: 380px;
    margin-bottom: 15px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    height: 50px;
}

/* Board.hbs */

.board-view-panel {
    padding-top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    overflow-y: hidden;
    z-index: 0;
}

.board-view-name {
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.lane-container {
    width: 100%;
    user-select: none;
    white-space: nowrap;
    display: inline-flex;
}

.lane{
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    min-width: 280px;
    max-width: 280px;
    background-color: rgb(218, 218, 218);
    height: calc(100% - 40px);
    max-height: calc(100% - 80px);
    display: inline-flex;
    flex-direction: column;
    white-space: normal;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 20 10 20px;
}

.add-lane{
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    min-width: 280px;
    max-width: 280px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
}

.add-lane-toggle {
    background-color: rgb(218, 218, 218);
    padding: 10 16 10 16px;
}

.add-lane-toggle:hover {
    background-color: rgb(175, 175, 175);
}

.add-lane-form {
    display: flex;
    padding: 0 16px;
    background-color: rgb(218, 218, 218);
}

.lane-header {
    padding: 10px;
}

.add-card {
    padding: 10px 12px;
}



.add-card:hover {
    background-color: rgb(175, 175, 175);
}

.add-card-clicked {
    display: none;
}

.card-container {
    padding: 10px 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
    overflow: hidden;
}

.card:hover {
    background-color: rgb(240, 240, 240);
}

.card img {
    width: 100%;
}
  
.card p {
    margin: 10px;
}

.add-board .board-name {
    color: white;
    text-decoration: none;
}

board-name {
    text-decoration: none;
}

#new-board-container {
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-view {

    padding: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    
    margin: 10px;
    min-width: 300px;
    min-height: 200px;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.field {
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(163, 172, 180);
    box-sizing: border-box;
    padding: .5em;
    margin-bottom: 10px;
}

.button {
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #219b62;
    color: white;
    max-width: 380px;
    margin-bottom: 15px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}



.card-title {
    text-align: left;
    display: block;
    width: 400px;
}


.description-editable {
    border-color: #bd0f18;
    box-shadow: inset 0 0 10px #555;
    background: #f2f2f2;
}
  
.description-text {
    outline: none;
    overflow-wrap: break-word;
    width: 90%;
    min-height: inherit;

}
  
  .edit, .save {
    width: 30px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px 10px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: -1px 1px 4px rgba(0,0,0,0.5);
  }
  
  .edit { 
    background: #557a11;
    color: #f0f0f0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .save {
    display: none;
    background: #bd0f18;
    color: #f0f0f0;
  }
  
  .description-container:hover .edit {
    opacity: 1;
  }

  .description-container {
    position: relative;
    margin: 20px;
    padding: 30px 10px 5px;
    width: 400px;
    min-height: 150px;
    border: 1px solid grey;
    border-radius: 3px;
    background: #fff;
  }

.card-btn-container .button{
    display: inline-flex;
}

.attachment-btn {
    padding: 10 10 10 30px;
    position: relative;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #1f975f;
    border-radius: 10px;
}

.attachment-btn:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 0;
    width: 15px;
    display: inline-flex;
    background: url(/public/clip.svg) no-repeat;
    height: 15px;
}

.imageUpload {
    display: none;
}